@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h2>City - Country Process</h2>
<br/>
<button type="button" id="btngetlist" class="btn btn-outline-info">City List</button>

<div id="citylist">
    City List Area
</div>

<script>
$("#btngetlist").click(function()) {
    $.ajax({
        contentType: "application/json",
        dataType: "json",
        type: "Get",
        url: "/Admin/City/CityList",
        success: function (func) {
            let w = jQuery.parseJSON(func);
            console.log(w);
            let tableHTML = "<table class=table table-bordered> <tr><th>City ID</th><th>City Name</th><th>Country Name</th></tr>";
            $.each(w, (index, value) => {
                tableHTML += '<tr><td>${value.CityID}</td> <td>${value.CityName}</td> <td>${value.CityCountry}</td>'
            });
            tableHTML += "</table>";
            $("#citylist").html(tableHTML);
        }

    });
}
</script>