@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1> Approval Reservation</h1>
@await Html.PartialAsync("~/Areas/Member/Views/Reservation/Table_Default.cshtml")