@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Active Reservation</h1>
@await Html.PartialAsync("~/Areas/Member/Views/Reservation/Table_Default.cshtml")