<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-planet"></i>
            <div data-i18n="Analytics">Routes</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Comments</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-female"></i>
            <div data-i18n="Analytics">Costumers</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Message/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Analytics">Messages</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-female-sign"></i>
            <div data-i18n="Analytics">Guides</div>
        </a>
    </li>   <li class="menu-item">
        <a href="/Admin/Report/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Reports</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-help-circle"></i>
            <div data-i18n="Analytics">References</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Analytics">Sub About</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-restaurant"></i>
            <div data-i18n="Analytics">Reservations</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxl-mailchimp"></i>
            <div data-i18n="Analytics">Mail Lists</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Password Process</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-paint-roll"></i>
            <div data-i18n="Analytics">Role Process</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Go Out</div>
        </a>
    </li>
</ul>